* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	display: grid;
	align-content: center;
	align-items: space-around;
	justify-items: center;
}

#primary-canvas {
	border: solid black 1px;
}
